# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=verysecurepassword
MONGO_INITDB_DATABASE=my_database

# REST API
PORT=8000
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_USER=admin
MONGO_PASSWORD=verysecurepassword
MONGO_DATABASE=my_database
S3_HOST=http://minio
S3_PORT=9000
S3_USER=minioadmin
S3_PASSWORD=minioadmin

# Web App
API_URL=http://localhost:8000