ENVIRONMENT=dev
PORT=8000
HOST=127.0.0.1

SECRET=supersecret

SQL_HOST=localhost
SQL_PORT=3306
SQL_USER=root
SQL_PASSWORD=verysecurepassword
SQL_DATABASE=my_database

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=admin
MONGO_PASSWORD=verysecurepassword
MONGO_DATABASE=my_database

S3_HOST=http://localhost
S3_PORT=9000
S3_USER=root
S3_PASSWORD=supersecretpassword
S3_REGION=eu-west-1