uvicorn
fastapi
sqlmodel
alembic
pymysql
cryptography
python-dotenv
s3fs
websockets
python-multipart
Pillow
PyMongo
pydicom
numpy
openslide-python
openslide-bin
tifffile
requests
pyvips # Install vips on system